/*
* Piano Keyboard
*/
.piano {
  background: -webkit-linear-gradient(-65deg, #000000, #222222, #000000, #666666, #222222 75%);
  background: -moz-linear-gradient(-65deg, #000000, #222222, #000000, #666666, #222222 75%);
  background: -o-linear-gradient(-65deg, #000000, #222222, #000000, #666666, #222222 75%);
  background: linear-gradient(-65deg, #000000, #222222, #000000, #666666, #222222 75%);
  border-top: 2px solid #111;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.5), inset 0 -4px 5px #000000;
  padding: 0 1% 3%;
  text-align: center;
}
.key {
  display: inline-block;
  position: relative;
  width: 6%;
  margin: 0 0.6px;
  max-width: 85px;
}
.key:active .black-key,
.key.active .black-key {
  top: -5px;
}
.key:active .black-key,
.key.active .black-key,
.key.lesson .black-key {
  top: -2px;
}
.key .white-key {
  background: -webkit-linear-gradient(-30deg, #f8f8f8, #ffffff);
  background: -moz-linear-gradient(-30deg, #f8f8f8, #ffffff);
  background: -o-linear-gradient(-30deg, #f8f8f8, #ffffff);
  background: linear-gradient(-30deg, #f8f8f8, #ffffff);
  box-shadow: inset 0 1px 0px #ffffff, inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px 0px 0px #ffffff, 0 4px 3px rgba(0, 0, 0, 0.7), inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px -1px 15px rgba(0, 0, 0, 0.5), -3px 4px 6px rgba(0, 0, 0, 0.5);
  display: block;
  height: 300px;
}
.key .white-key.lesson {
  height: 120px;
}
.key .white-key:active,
.key .white-key.active {
  background: -webkit-linear-gradient(-30deg, #ffff00, #ffffff);
  background: -moz-linear-gradient(-30deg, #ffff00, #ffffff);
  background: -o-linear-gradient(-30deg, #ffff00, #ffffff);
  background: linear-gradient(-30deg, #ffff00, #ffffff);
  position: relative;
  top: -5px;
  height: 295px;
}
.key .white-key:active.lesson,
.key .white-key.active.lesson {
  top: -2px;
  height: 118px;
}
.key .black-key {
  content: "";
  box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
  background: -webkit-linear-gradient(-20deg, #222222, #000000, #222222);
  background: -moz-linear-gradient(-20deg, #222222, #000000, #222222);
  background: -o-linear-gradient(-20deg, #222222, #000000, #222222);
  background: linear-gradient(-20deg, #222222, #000000, #222222);
  border-width: 1px 3px 8px;
  border-style: solid;
  border-color: #666 #222 #111 #555;
  height: 160px;
  position: absolute;
  top: 0px;
  right: -40%;
  width: 70%;
  z-index: 10;
}
.key .black-key.lesson {
  height: 80px;
}
.key .black-key:active,
.key .black-key.active {
  background: -webkit-linear-gradient(-20deg, #222222, #9400d3, #222222);
  background: -moz-linear-gradient(-20deg, #222222, #9400d3, #222222);
  background: -o-linear-gradient(-20deg, #222222, #9400d3, #222222);
  background: linear-gradient(-20deg, #222222, #9400d3, #222222);
  border-bottom-width: 3px;
  top: 0;
}
.enonce {
  background-color: greenyellow;
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 10px;
  text-align: center;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.titre {
  background-color: #1e90ff;
  border: 1px solid #808080;
  text-align: center;
}
.scrollable {
  height: 400px;
  overflow-y: scroll;
}
[class*="col-xs-4"],
[class*="col-xs-3"],
footer {
  background-color: orange;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 30px;
  font-size: large;
  text-align: center;
  vertical-align: middle;
  height: 90px;
}
[class*="col-xs-4"].white-key,
[class*="col-xs-3"].white-key,
footer.white-key {
  background-color: orangered;
}
[class*="col-xs-4"].fini,
[class*="col-xs-3"].fini,
footer.fini {
  background-color: #808080;
}
[class*="col-xs-4"].next,
[class*="col-xs-3"].next,
footer.next {
  background-color: darkviolet;
}
[class*="col-xs-4"]:active,
[class*="col-xs-3"]:active,
footer:active,
[class*="col-xs-4"].active,
[class*="col-xs-3"].active,
footer.active {
  border: 4px solid #808080;
  line-height: 36px;
  margin-top: -2px;
}
[class*="col-xs-4"]:hover,
[class*="col-xs-3"]:hover,
footer:hover,
[class*="col-xs-4"].hover,
[class*="col-xs-3"].hover,
footer.hover {
  background-color: darkcyan;
  font-weight: bold;
}
[class*="col-xs-6"],
footer {
  background-color: orange;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 60px;
  font-size: xx-large;
  text-align: center;
  vertical-align: middle;
  height: 64px;
  width: 30%;
  margin-left: 25%;
}
[class*="bonusTemps"] {
  font-size: 400%;
  color: #0000cc;
  text-align: center;
  position: relative;
}
#BulleText {
  text-align: center;
  vertical-align: middle;
  width: 300px;
  height: 250px;
  background-image: url("../img/ico/BulleFond.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 300px 250px;
}
#TextContent {
  text-align: center;
  vertical-align: middle;
  margin: 10%;
  margin-left: 12%;
  width: 80%;
  height: 80%;
}
@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 1039px) {
  :nth-child(14) {
    display: none;
  }
}
@media (max-width: 767px) {
  .key {
    width: 8%;
  }
  .key:nth-child(1),
  .key:nth-child(2),
  .key:nth-child(3),
  .key:nth-child(14) {
    display: none;
  }
  .container {
    width: 85%;
    padding-right: 2%;
    padding-left: 2%;
  }
}
@media (max-width: 480px) {
  .key {
    width: 12%;
  }
  .key:nth-child(11),
  .key:nth-child(12),
  .key:nth-child(13),
  .key:nth-child(14) {
    display: none;
  }
  .container {
    width: 98%;
    padding-right: 0.1%;
    padding-left: 0.1%;
  }
}
@media (max-width: 370px) {
  .key:nth-child(10) {
    display: none;
  }
}
