@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Chewy|Luckiest+Guy);

* {
   font-family: 'Chewy', cursive;
}

h1, h2, h3, h4 {
   font-family: 'Luckiest Guy', cursive;   
}
/* ACCUEIL */
#accueil {
   text-align: center;
   background: ivory;
}

#accueil .btn-page {
   width: 270px;
   height: 125px;
   font-size: 25px;
}

#accueil #mainSection {
   width: 600px;
   height: 160px;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -300px;
   margin-top: -80px;
}

#infobarLogin {
   height: 45px;
   font-size: 20px;
   padding-top: 7px;
}

/* MODALS*/
#user_co_modal fieldset {
   text-align: center;
}

#user_co_modal .input {
   text-align: center;
   width: 60%;
   height: 45px;
   margin: 10px auto 20px auto;
}
#user_co_modal label {
   position: relative;
   top: -2px;
   left: -8px;
}

#user_cr_modal .input {
   width: 300px;
   height: 45px;
}
#user_cr_modal .spaceTr {
   height: 25px;
}
#user_cr_modal .spaceTd {
   width: 15px;
}


/* MAIN */
#main {
   text-align: center;
   background: ivory;
}

#main h2 {
   margin-top: 20px;
   font-size: 46px;
}

#main #newsDuJour {
   border: 1px solid black;
   border-radius: 9px;
   width: 725px;
   padding-bottom: 25px;
   margin: auto;
}

#main #newsDuJour p {
   font-size: 18px;
}

#main #panelExercices {
   margin-top: 50px;
}


#main header nav table {
   position: absolute;
   right: 5px;
   top: 0px;
}

#main header nav table td {
   padding-top: 7px;
   padding-right: 3px;
}

#main header nav table td .btn {
   width: 120px;
   height: 35px;
}

#panelExercices {
   width: 725px;
   margin: auto;
}

#panelExercices .tdPanelLvl1 {
   width: 350px;
   height: 220px;
}

#panelExercices .buttonPanel {
   width: 350px;
   height: 220px; /* 220 -> 80 */
   vertical-align: top;
   margin: 5px;
   font-size: 22px;
   transition: height 1s;
}

#panelExercices .subTableExercice td button{
   display: none;
} 

#panelExercices .subTableExercice .btn {
   width: 172px;
   height: 0px;
   margin-left: 5px;
   transition: height 1s;
} 

/* PROFIL */
#profil {
   background: ivory;
}